---
layout: posts
title: "Posts by Category"
permalink: /categories-archive/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for category in site.categories %}
  {% unless category.output == false or category.label == "posts" %}
    {% capture label %}{{ category.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in category.docs %}
    {% unless category.output == false or category.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}